html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

dialog div {
    display: grid;
    grid-template-columns: 100px 100px;
    margin-bottom: 5px;
}

body {
    display: grid;
    grid-template-columns: 150px 2fr;
    background-color: #a7aecc34;

}

.sideBarMenu {
    background-color: rgba(238, 238, 238, 0.438);
    border-right: 2px solid #6283aa;
    padding-top: 10px;
}

.sideBarMenu>div, .tasks>div{
    display: grid;
    padding: 5px;

}

.tasks {
    margin-bottom: 10px;
}

button {
    margin: 2px;
    border: none;
    border-bottom: 1px solid;
    background-color: #6282aa00;

}

.card {
    border: 3px solid #6283aa;
    background-color: #a7aecc34;
    padding: 5px 5px 10px 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 0.3fr;
    justify-content: space-between;
    gap: 5px;
}

dialog {
    border: 3px solid #6283aa;
    background-color: #dbdeec;
    padding: 5px 5px 10px 5px;
    border-radius: 15px;
    width: 400px;
}

form input,
textarea,
select {
    background-color: #ececec7a;
    border: 2px solid #6283aa;
    border-radius: 7px;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

textarea {
    width: 250px;
}

p {
    white-space: pre-line;
    /* Allows \n to render as line breaks */
    margin-top: 0px;
    margin-bottom: 5px;
}

.dialog2{
    width: 250px;
}

.icon {
    width: 15px;
    height: 15px;
    
}
.deleteProject {
    width: 20px;
    padding: 0px;
    padding-bottom: 1px;
}
.project {
    width: 90px;
    margin-left: 10px;
}